html,body,#container
    padding 0
    margin 0
    height 100%
    width 100%

.container
    background-color #EAEBE7
    position relative
    height 100%
    
.slide
    display none
    height 100%
    .content
        height 100%

.slide.current
    display block
    

@import slide1
@import slide2
@import slide3