#slide3 .content
    display flex
    flex-direction row

#map
    height 100%
    flex 3 1 75%

#pano
    height 100%
    flex 1 1 25%
    
#map .lines
    position absolute
    z-index 1000
    width 100%
    top 20%
    margin-left auto
    margin-right auto
    font-size 2em
    text-align center
    display none
    .typed
        width 500px
        background-color #FFCEFF
        border-radius 4px
        margin-left auto
        margin-right auto
        height 100px
        padding-top 20px
    